/, E=0,5.pdf
/.vscode
/Aplicación tutorías
/Audacity
/Blocs de notas de OneNote
/Coevaluación Benjamín Jara.pdf
/Custom Office Templates
/DARKSiDERS
/desktop.ini
/Evento de Cierre y Bienestar Estudiantil.pdf
/GitHub
/Inventor
/League of Legends
/Mis archivos de origen de datos
/My Games
/NetBeansProjects
/Plantillas personalizadas de Office
/Saved Games
/Trabajo.pdf
/Visual Studio 2022
/WindowsPowerShell
/wsp docs
/Mi música
/Mis imágenes
/Mis vídeos